.opciones{
    margin-left: 1000px;
    width: auto;
    position: absolute;
    z-index: 2;
    margin-top: 90%;
}
.opciones ul {
    list-style-type: none;
    padding: 0;
}

.opciones li {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    color: #000;
}

.opciones li a{
    text-decoration:none;
    color: #000;
}