*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    }
 
body{
        width: 1920px;
        height: 3264px;
        background-color: #faf9f0;
    }

    .pregunta{
        position: absolute;
        font-size: 70px;
        color: black;
        width: 1428px;
        height: 164px;
        margin-top: 300px;
        margin-left: 278px;
        text-align: left;
    }

    .purple{
        width: 1347px;
        height: 276px;
        border-radius: 264px;
        margin-top: 599px;
        margin-left: 287px;
        position: absolute;
        background-color: #552C98;
        border: #552C98;
    }

    .mainText{
        width: 1268px;
        margin-top: 1105px;
        margin-left: 278px;
        color: black;
        font-size: 24px;
        text-align: left;
        font-family: 'Red Hat Display', sans-serif;
        position: absolute;

    }
    .mainText span{
        font-weight:bolder;
    }

    .IA{
        width: 1049px;
        height: 787px;
        margin-top: 349px;
        margin-left: 436px;
        position: absolute;
        z-index: 10;
    }

    button{
        width: 502px;
        height: 95px;
        margin-left: 278px;
        margin-top: 3043px;
        border-radius: 10px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
        background-color: #eb6017;
    }