.principal {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 27px;
    margin-top: 327px;
    margin-left: 55px;
    z-index: 30;
  }
  
  .principal ul {
    list-style-type: none;
  }
  
  
  .principal li {
    text-decoration: none;
    transform: rotate(-90deg);
    font-size: 27px; 
    margin-bottom: 100px;
  }

  .principal li a{
    text-decoration:none;
    color: #000000;
  }

 

